{extend name="public:base"}
{block name="content"}
<div class="dashboard-page">
    <a class="layui-btn" href="{:url('admin/broadcast/edit')}">添加</a>
    <table class="layui-table">
        <thead>
            <th>标题</th>
            <th>内容</th>
            <th>类型</th>
            <th>创建时间</th>
            <th>操作</th>
            <th>操作</th>
        </thead>
        {foreach $list as $v}
        <tr>
            <td>{$v.title}</td>
            <td>{$v.content}</td>
            <td>{$v.type_ch}</td>
            <td>{$v.created_time}</td>
            <td><a href="{:url('admin/broadcast/edit')}?id={$v.id}">编辑</a></td>
            <td><a href="{:url('admin/broadcast/del')}?id={$v.id}">删除</a></td>
        </tr>
        {/foreach}
    </table>
    <div>
        {$pagination}
    </div>
</div>
{/block}