{extend name="public:base"}
{block name="content"}
<div class="dashboard-page">
    {if $is_root}
    <a class="layui-btn" href="{:url('admin/agent/levelTwoEdit')}">添加</a>
    {else/}
    <a class="layui-btn" href="{:url('admin/agent/levelTwoBegAdd')}">添加</a>
    {/if}
    <table class="layui-table">
        <thead>
            <th>姓名</th>
            <th>邀请码</th>
            <th>角色</th>
            <th>手机</th>
            <th>备注</th>
            <th>创建时间</th>
            {if $is_root}
            <th>操作</th>
            {/if}
        </thead>
        <tbody>
            {foreach $not_check_list as $v}
            <tr>
                <td>{$v.name}</td>
                <td></td>
                <td>正在审核...</td>
                <td>{$v.phone}</td>
                <td>{$v.note} 正在审核...</td>
                <td>{$v.created_time}</td>
            </tr>
            {/foreach}
            {foreach $list as $v}
            <tr>
                <td>{$v.name}</td>
                <td>{$v.invite_code}</td>
                <td>{$v.role_name}</td>
                <td>{$v.phone}</td>
                <td>{$v.note}</td>
                <td>{$v.created_time}</td>
                {if $is_root}
                    <td>
                        <a href="{:url('admin/agent/leveltwoedit')}?id={$v.id}">编辑</a>
                    </td>
                {/if}
            </tr>
            {/foreach}
        </tbody>
    </table>
</div>
{/block}