{extend name="public:base"}
{block name="content"}
<div class="dashboard-page">
    <a class="layui-btn" href="{:url('admin/product/edit')}">添加</a>
    <table class="layui-table">
        <thead>
            <th>ID</th>
            <th>玩家</th>
            <th>邮递姓名</th>
            <th>手机号</th>
            <th>地址</th>
            <th>商品名称</th>
            <th>件数</th>
            <th>单价</th>
            <th>总价</th>
            <th>时间</th>
            <th>详细</th>
        </thead>
        {foreach $list as $v}
        <tr>
            <td>{$v.id}</td>
            <td>{$v.player}</td>
            <td>{$v.name} </td>
            <td>{$v.phone}</td>
            <td>{$v.address}</td>
            <td>{$v.product}</td>
            <td>{$v.piece}</td>
            <td>{$v.piece_price}</td>
            <td>{$v.total_price}</td>
            <td>{$v.created_time}</td>
            <td>{$v.detail}</td>
        </tr>
        {/foreach}
    </table>
    <div>
        {$pagination}
    </div>
</div>
{/block}