{extend name="public:base"}
{block name="content"}
<h1 class="breadcrumb-title">代理收益</h1>
<div class="dashboard-page">
    <p>下属玩家：{$children}个</p>
    <table class="layui-table">
        <thead>
            <th>收益</th>
            <th>时间</th>
        </thead>
        {foreach $list as $v}
        <tr>
            <td>{$v.coin}</td>
            <td>{:date('Y-m-d',strtotime($v.created_time))}</td>
        </tr>
        {/foreach}
    </table>
    <div>
        {$pagination}
    </div>
</div>
<script>

</script>
{/block}