{extend name="public:base"}
{block name="content"}
<div>
    <a class="layui-btn" href="{:url('admin/member/ipadd')}">添加</a>
    <table class="layui-table">
        <thead>
        <th>ip</th>
        <th>创建日期</th>
        <th>
            操作
        </th>
        </thead>
        <tbody>
        {foreach $list as $v}
        <tr>
            <td>{$v.ip}</td>
            <td>{$v.created_time}</td>
            <td>
                <a href="{:url('admin/member/ipdelete')}?id={$v.id}">删除</a>
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    <div>
        {$pagination}
    </div>
</div>
{/block}
