{extend name="public:base"} {block name="content"}

<div class="dashboard-page" id="dashboard-page">

    <h1>添加禁用ip</h1>
    <form method="post">
    <div class="layui-form-item">
        <label class="layui-form-label">IP</label>
        <div class="layui-input-block">
            <input type="text" name="ip" v-model="note" placeholder="请输入备注，选填" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">确定</button>
        </div>
    </div>
    </form>
</div>

<style scoped>
    h1 {
        font-size: 36px;
        padding-left: 50px;
        padding-bottom: 50px;
    }

    select {
        border: 1px solid lightgray;
    }
</style>
<script>

</script>
{/block}