{extend name="public:base"}
{block name="content"}
<style>
    h1{
        font-size: 30px;
        margin-bottom: 20px;
    }
</style>
<div class="dashboard-page" id="dashboard-page">
    <h1>修改密码</h1>
    <form method="post">
        <input type="hidden" name="user_id" value="{$user_id}" />
        <div class="layui-form-item">
            <label class="layui-form-label">新密码:</label>
            <div class="layui-input-block">
                <input type="password" name="password" placeholder="" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">确定</button>
            </div>
        </div>
    </form>
</div>
{/block}